{% extends 'baselogin.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="row" style="margin-top:10%">
<section class="container my-3 mt-4">
    <div class="row justify-content-center">
        <div class="col-8 bg-light text-dark">
        
            <form method="post">
            <div class="col mt-3" >
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté comme :{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="mb-3  mt-4 font-weight-normal text-center">Me connecter</h1>
                <div class="row m-auto">
                    <div class="col-sm-2 offset-2">
                        <label for="inputEmail" class="col-form-label">Email</label>
                    </div>
                    <div class="col-sm-5">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" 
                    autocomplete="email" required autofocus >
                    </div>
                </div>
                <div class="row m-auto ">
                    <div class="col-sm-2 mt-3 offset-2">
                        <label for="inputPassword">Mot de pass</label>
                    </div>
                    <div class="col-sm-5 mt-3">
                        <input type="password" name="password" id="inputPassword" class="form-control" 
                            autocomplete="current-password" required >
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="row m-auto">
                    <div class="checkbox mb-3 mt-3 offset-4">
                        <label>
                            <input type="checkbox" name="_remember_me">
                            Se rappeler de moi
                        </label>
                    </div>
                </div>
            <div class="row">
                <button class="btn btn-lg btn-primary mt-1 mb-2 col-4 border border-info offset-4" type="submit">
                    SE CONNECTER
                </button>
                {#
                <a href="{{ path('app_register')}}" class="btn btn-secondary btn-lg ml-1 col-4"> M'INSCRIRE</a>
            #}
            </div>
            </div>
        </form>
     
        </div>
    </div>
</section>
</div>

{% endblock %}
