{% extends 'base.html.twig' %}

{% block title %}Utilisateur | NOUVEAU{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row justify-content-md-center">
        <div class="col">
            <h1>Inscription</h1>

            {{ form_start(registrationForm) }}
                <fieldset class="mb-3">
                    <legend> Mon identité</legend>
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                    }) }}
                    
                </fieldset>
                <fieldset class="mb-3">
                   {# <legend> Mon coordonnées</legend>
                    {{ form_row(registrationForm.adress) }}
                    {{ form_row(registrationForm.email) }}#}
                </fieldset>
                
                {{ form_row(registrationForm.active) }}
                
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary btn-lg">M'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</section>
{% endblock %}
