{% extends '@EasyAdmin/page/content.html.twig' %}
{% block body %}

     {{ parent() }}
{% endblock %}
{% block page_title %}
    <div class="example-wrapper">
        <h1>Bienvenue {{ app.user.lastname }} / {{ app.user.userIdentifier }} </h1>

    </div> 
    {##}
{% endblock %}
{% block main %}
    <div class="example-wrapper">
       <h3>cette plateforme a été mis en place pour vous aider dans l'analyse des données</h3>
{# #}
    </div>
   
{% endblock %}

